  body {
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(85, 166, 177);
  }
   section{
    .video{
      width: 80%;
      height:"360";
      text-align: center;
      border: 5px solid rgb(32, 69, 87);
      border-radius: 20px;
      box-shadow: 0.5px 15px 15px rgba(0, 0, 0, 0.8);
    }
  }
  section{
    text-align: center;
  }

  picture {
    .firstpic{
    height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid rgb(32, 69, 87);
    margin: auto;
    box-shadow: 0.5px 15px 15px rgba(0, 0, 0, 0.3);
    }
  }
  picture{
    margin: 30px;
  }
  
  .images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid rgb(32, 69, 87);
    margin-top: 20px;
    height: 530px;
    box-shadow: 0.5px 15px 15px rgba(0, 0, 0, 0.1);
  }

  img{
    height: 600px;
    padding: 10px;
    width: 80%;
  }

  .images{
    #picx ,#picy {
      width: 90%;
      height: 500px;
      margin: auto;
      border-radius: 20px;
      box-shadow: 0.5px 15px 15px rgba(0, 0, 0, 0.1);
    }
  }

  .audiotag{
      display: block;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  a{
    color: rgb(88, 77, 77);
  }
 
  h1 {
      font-size: 50px;
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .navbar {
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    background-color: rgb(37, 96, 126);
  }

.navbar a {
    color: rgb(241, 229, 229);
    padding: 14px 70px;
    text-align: center;
  }

.navbar a:hover {
    background-color: #2863d15e;
    color: black;
    border-radius: 5px;
    height: 30px;
  } 


  @media only screen and (max-width: 600px){
    .images{
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 20px;
      border: 5px solid rgb(32, 69, 87);
      margin-top: 20px;
      height: 600px;
      box-shadow: 0.5px 15px 15px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }

    .images{
      #picx ,#picy {
        width: 90%;
        height: 300px;
        margin: auto;
        border-radius: 20px;
        box-shadow: 0.5px 15px 15px rgba(0, 0, 0, 0.3);
      }
    }
  }