.navbar {
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(37, 96, 126);
  }

.navbar a {
    color: #fff;
    padding: 14px 90px;
    text-decoration: none;
    text-align: center;
  }

.navbar a:hover {
    background-color: rgb(245, 235, 235);
    color: black;
    border-radius: 5px;
    height: 30px;
  }