body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 215, 188);
}

h1{
    text-align: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: rgb(80, 53, 53);
    color: antiquewhite;
}
td, tr:nth-child(even){
    background-color: rgb(165, 153, 153);
}

footer{
    margin-top: 300px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(80, 53, 53);
    padding: 20px;
}
.navigation a {
    color: wheat;
    font-weight: 600;
}
.navigation a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.navbar1 {
    padding: 20px;
    text-align: center;
    background-color: rgb(80, 53, 53);
    margin-top: 1px;
}

.navbar1 a {
    color: rgb(238, 222, 222);
    padding: 10px;
}

.navbar1 a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
    height: 30px;
}

@media only screen and (max-width: 600px) {
    table {
        width: 100%;      
    }


    h1{
        text-align: center;
    }

    th, td {
        display: block;
        width: 86%;
        padding: 15px;
    }

    th {
        display: none;
    }

    td {
        padding-left: 40px;      
    }

    th, tr:nth-child(odd){
        background-color: #333d4ed0;
    }


    footer{
        margin-top: 300px;
    }

}