/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #583838;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    /* Make the table responsive */
    table {
        width: auto;
    }

    /* Adjust column widths */
    th, td {
        display: block;
        width: 100%;
        padding: 15px;
    }

    th {
        position: relative;
    }

    td {
        padding-left: 40px;
    }

    th::after {
        content: attr(data-label);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 5px;
        background-color: #350a0a;
        display: block;
    }
}