body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(125, 186, 216);    
}

h1{
    text-align: center;
}

table {
    width: 100%;
    height: 500px;
    font-size: 30px;
    font-weight: 200;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: wheat;
}
tr:nth-child(even) {
    background-color: wheat;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.navbar {
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(187, 218, 233);
  }

.navbar a {
    color: black;
    padding: 14px 90px;
    text-align: center;
  }

.navbar a:hover {
    background-color: #4562a0;
    color: black;
    border-radius: 5px;
  }
